* {
    box-sizing: border-box;
  }
body {
    margin: 0;
    font-family: "Lucida Grande";
}    
.badan {
    text-align: center;
  
}
.badan h2 {
    font-size: 35px;
    font-weight: normal;
}
.badan p {
    font-size: 24px;
    padding: 50 100px;
    
}
