* {
    box-sizing: border-box;
  }
body {
    margin: 0;
    font-family: "Lucida Grande";
}    
.badan {
    text-align: center;
  
}
.badan h2 {
    font-size: 35px;
    font-weight: normal;
}
.badan p {
    font-size: 24px;
    padding: 50 100px;
    
}
.badan h1 {
    margin-top: 50px;
}
.badan span {
    color:blue
}
 .a {
  width: 100px;
  height: 100px;
  background: red;
  transition: width 2s, height 2s, transform 2s;
}

a:hover {
  width: 300px;
  height: 300px;
  transform: rotate(180deg);
}
